// src/styles/_base.scss

@use './variables';

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--sd-bg);
  color: var(--sd-text);
  font-family: var(--sd-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 可选：全局链接样式
a {
  color: inherit;
  text-decoration: none;
}